#index-bd {
  background-image: url('../images/back-image.jpeg');
}
.navbar img {
  margin-left: 25px;
}
.bg-light {
  background-color: #008080 !important;
}
.navbar-brand {
  color: white !important;
}
.form-inline {
  margin-right: 15px;
}
.form-control {
  margin-left: 10px;
  margin-right: 10px
}
.form-inline button {
  margin-right: 10px;
  width: 75px;
  height: 35px;
  background-color: #008080 !important;
  color: white;
}
.form-inline button:hover {
  background-color: white !important;
  color: black !important;
  cursor: pointer;
}
.form-inline a {
  color: white !important;
  font-size: 15px;
}
#contain {
  margin-top: 10px;
  margin-bottom: 10px;
}
#form-group {
  background-color: white !important;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 25px;
}
.card-form label {
  color: black;
  margin-left: 13px;
}
h4 {
  color: black;
  font-size: 20px;
  text-align: center;
}
.card-form button {
  margin-top: -8px;
  margin-left: 10px;
  height: 40px;
  font-size: 17px;
}
.form-group p {
  color: black;
  font-size: 10px;
  text-align: center;
}
.nav-forget {
  margin-right: 50px;
}
.forget-nav-button .join-button {
  width: 100px !important;
  height: 35px;
  background-color: #008080 !important;
  color: white;
}
.forget-nav-button .sign-button {
  margin-right: 2px;
  width: 75px;
  height: 35px;
  background-color: #008080 !important;
  color: white;
}
.join-button:hover, .sign-button:hover {
  background-color: white !important;
  color: black !important;
  cursor: pointer;
}
#forget-contain {
  margin-top: 50px;
}
#forget-contain h2, #forget-contain h5 {
  margin-left: 10px;
}
#forget-contain form {
  margin-top: 20px;
}
#forget-contain label {
  margin-left: 10px;
  margin-bottom: -8px;
  font-size: 15px;
}
#forget-contain label::after {
  content: '*';
  color: blue !important;
  margin-left: 1px;
}
#forget-contain .btn-group {
  margin-left: 10px;
  margin-top: 25px;
}
#forget-contain button {
  margin-right: 25px;
}
